<template>
  <v-layout>
    <v-flex xs4>
      
      <panel title="Admin Panel">
        
      </panel>
    </v-flex>
  </v-layout>
</template>


<script>
import Panel from '@/components/Panel'
export default {
    data(){
        return {
        }
    },
    methods: {

    },
    components: {
        Panel
    }
}
</script>

<style scoped>

</style>
