<template>
    <v-toolbar fixed class="cyan">
        <v-toolbar-title class="mr-4">
            <span
                class="home"
                @click="navigateTo({name: 'root'})">
                Tab Tracker
            </span>
        </v-toolbar-title>

        <v-toolbar-items>
            <v-btn 
            flat dark
                @click="navigateTo({name: 'songs'})">
                Browse | <span style="color:blue"> Admin </span> 
            </v-btn>
            <v-btn 
            flat dark
                @click="navigateTo({name:'songs-create'})">
                Create Songs | <span style="color:blue"> Editor </span> 
            </v-btn>
            <v-btn 
            flat dark
                @click="navigateTo({name:'admin-panel'})">
                User Panel
            </v-btn>
        </v-toolbar-items> 

        <v-spacer></v-spacer>
        <v-toolbar-items>
            <v-btn 
            v-if="!$store.state.isUserLoggedIn"
            flat dark
                @click="navigateTo({name: 'login'})">
                Login
            </v-btn>

            <v-btn 
            v-if="!$store.state.isUserLoggedIn"
            flat dark
                @click="navigateTo({name: 'register'})">
                Sign Up
            </v-btn>
            <v-btn 
            v-if="$store.state.isUserLoggedIn"
            flat dark
                @click="logout">
                Log Out
            </v-btn>
        </v-toolbar-items>        
    </v-toolbar>
</template> 


<script>
import router from '@/router/index'
export default {
    methods: {
        navigateTo (route) {
            this.$router.push(route)
        },
        logout(){
            // set the token and the user to null
            this.$store.dispatch('setToken', null)
            this.$store.dispatch('setUser', null)

            // login boolean for routes
            //router.hasUserLogged = false


            //  Redirect to thome page
            this.$router.push({
                name:'root'
            })
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .home {
        cursor: pointer;
    }
    .home:hover{
        color: maroon;
    }

</style>
