
<template>
  <v-layout column>
    <v-flex xs6 offset-xs3>
      <panel title="login">
          <form 
            name="tab-tracker-form"
            autocomplete="off">
            <v-text-field
              label="Email"
              v-model="email"
            ></v-text-field>
            <br>
            <v-text-field
              label="Password"
              type="password"
              v-model="password"
              autocomplete="new-password"
            ></v-text-field>
          </form>
          <br>
          <div class="error" v-html="error" />
          <br>
          <v-btn
            dark
            class="cyan"
            @click="login">
            Login
          </v-btn>
        </panel>
    </v-flex>
  </v-layout>
</template>


<script>
import Panel from '@/components/Panel'
import AuthenticationService from '@/services/AuthenticationService'
export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
    components: {
    Panel
  },
  methods: {
   async login () {
// catch the error and display it eg wrong useremail password etc
     try{
        const response = await AuthenticationService.login({
          email: this.email,
          password: this.password
        })
        // now to set the token to maintain inforamtion of the staete
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
                        console.log(response.data)

  }
     catch(error){
       //error.response.data.error is what is going to be returned from axious 
       this.error = error.response.data.error
     }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .error{
      color:red;
    }
</style>
