
<template>
  <v-layout column>
    <v-flex xs6 offset-xs3>
      <!-- Passed title attribute into panel -->
      <panel title="Songs">
        <!-- key directive is that okay the title will be a unique identifier
        for the song-->
        <div v-for="song in songs" :key="song.id">
          {{song.title}} -
          {{song.artist}} -
          {{song.album}}

        </div>

      </panel>
    </v-flex>
  </v-layout>
</template>


<script>
import SongsService from '@/services/SongsService'
import Panel from '@/components/Panel'
export default {
  components: {
    Panel
  },
  data(){
    return {
      songs: null
    }
  },
  async mounted () {
    // the moment it is mounted on the page - it should go and get the songs
    this.songs = (await SongsService.index()).data
  }
}
</script>

<style scoped>
</style>
